build/ftclient/Analysis-00.toc
build/ftclient/base_library.zip
build/ftclient/EXE-00.toc
build/ftclient/ftclient.exe.manifest
build/ftclient/ftclient.pkg
build/ftclient/PKG-00.toc
build/ftclient/PYZ-00.pyz
build/ftclient/Tree-00.toc
build/ftclient/Tree-01.toc
build/ftclient/Tree-02.toc
build/ftclient/warn-ftclient.txt
build/ftclient/xref-ftclient.html
dist/ftclient.exe
ftclient.spec
__pycache__/main.cpython-310.pyc
__pycache__/lib_winsvc.cpython-310.pyc
__pycache__/lib_logging.cpython-37.pyc
__pycache__/lib_misc.cpython-310.pyc
__pycache__/lib_wd.cpython-310.pyc
__pycache__/lib_dscsdll.cpython-310.pyc
__pycache__/lib_process.cpython-310.pyc
20220618.txt
20220619.txt
