
client/build/ftclient/PYZ-00.toc
SilentInstaller/.vs/SilentInstaller/v16/.suo
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db-shm
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db-wal
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.opendb
SilentInstaller/x64/Release/SilentInstaller.exe
SilentInstaller/x64/Release/SilentInstaller.exe.recipe
SilentInstaller/x64/Release/SilentInstaller.iobj
SilentInstaller/x64/Release/SilentInstaller.ipdb
SilentInstaller/x64/Release/SilentInstaller.log
SilentInstaller/x64/Release/SilentInstaller.obj
SilentInstaller/x64/Release/SilentInstaller.pdb
SilentInstaller/x64/Release/SilentInstaller.res
SilentInstaller/x64/Release/SilentInstaller.tlog/CL.command.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/CL.read.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/CL.write.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/link.command.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/link.read.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/link.write.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/rc.command.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/rc.read.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/rc.write.1.tlog
SilentInstaller/x64/Release/SilentInstaller.tlog/SilentInstaller.lastbuildstate
SilentInstaller/x64/Release/SilentInstaller.tlog/SilentInstaller.write.1u.tlog
SilentInstaller/x64/Release/SilentInstaller.vcxproj.FileListAbsolute.txt
SilentInstaller/x64/Release/vc142.pdb
00.RELEASE/configuration.json
00.RELEASE/install.exe
00.RELEASE/package.exe
00.RELEASE/uninstall.exe
SilentInstaller/.vs/SilentInstaller/v16/ipch/AutoPCH/7e4d96f4bad91831/SILENTINSTALLER.ipch
00.RELEASE/20220619.txt
client/build/ftclient/localpycs/*
client/__pycache__/*
client/__pycache__/lib_runas.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/lib_apiserver.cpython-310.pyc
00.RELEASE/20220620.txt
client/__pycache__/lib_logging.cpython-310.pyc
client/20220620.txt.5
client/20220620.txt.4
client/20220620.txt.3
client/20220620.txt.2
client/20220620.txt.1
client/20220620.txt
client/__pycache__/lib_logging.cpython-310.pyc
client/watchdog/__pycache__/*
client/watchdog/observers/__pycache__/*
client/watchdog/utils/__pycache__/*
client/watchdog/tricks/__pycache__/*
client/watchdog/__pycache__/__init__.cpython-310.pyc
client/watchdog/__pycache__/events.cpython-310.pyc
client/watchdog/observers/__pycache__/__init__.cpython-310.pyc
client/watchdog/observers/__pycache__/api.cpython-310.pyc
client/watchdog/observers/__pycache__/read_directory_changes.cpython-310.pyc
client/watchdog/observers/__pycache__/winapi.cpython-310.pyc
client/watchdog/utils/__pycache__/__init__.cpython-310.pyc
client/watchdog/utils/__pycache__/bricks.cpython-310.pyc
client/watchdog/utils/__pycache__/patterns.cpython-310.pyc
client/watchdog/utils/__pycache__/platform.cpython-310.pyc
client/__pycache__/lib_watchdog.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
00.RELEASE/20220621.txt
client/__pycache__/lib_logging.cpython-310.pyc
client/20220621.txt
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/lib_er.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/lib_sqlite3.cpython-310.pyc
client/__pycache__/lib_winsec.cpython-310.pyc
client/20220621.txt.1
client/20220621.txt.2
client/__pycache__/lib_patterns.cpython-310.pyc
client/20220621.txt.10
client/__pycache__/lib_logging.cpython-310.pyc
00.RELEASE/20220622.txt
client/__pycache__/lib_logging.cpython-310.pyc
00.RELEASE_150.19.24.208.zip
00.RELEASE_150.19.24.208/configuration.json
00.RELEASE_150.19.24.208/install.exe
00.RELEASE_150.19.24.208/package.exe
00.RELEASE_150.19.24.208/uninstall.exe
00.RELEASE_150.19.24.208_traverse_completed.zip
00.RELEASE_150.19.24.208_traverse_completed/configuration.json
00.RELEASE_150.19.24.208_traverse_completed/install.exe
00.RELEASE_150.19.24.208_traverse_completed/package.exe
00.RELEASE_150.19.24.208_traverse_completed/uninstall.exe
00.RELEASE_183.107.9.230.zip
00.RELEASE_183.107.9.230/configuration.json
00.RELEASE_183.107.9.230/install.exe
00.RELEASE_183.107.9.230/package.exe
00.RELEASE_183.107.9.230/uninstall.exe
00.RELEASE_183.107.9.230_traverse_completed.zip
00.RELEASE_183.107.9.230_traverse_completed/configuration.json
00.RELEASE_183.107.9.230_traverse_completed/install.exe
00.RELEASE_183.107.9.230_traverse_completed/package.exe
00.RELEASE_183.107.9.230_traverse_completed/uninstall.exe
ftclient.release.2022.06.22.zip
client/20220622.txt
00.RELEASE/20220627.txt
00.RELEASE/configuration_20220627_150.19.24.208_not_traversed.json
00.RELEASE/configuration_20220627_150.19.24.208_traversed.json
00.RELEASE/configuration_20220627_183.107.9.230_not_traversed.json
00.RELEASE/configuration_20220627_183.107.9.230_traversed.json
00.RELEASE/ftclient_installer_20220627_150.19.24.208_not_traversed.zip
00.RELEASE/ftclient_installer_20220627_150.19.24.208_traversed.zip
00.RELEASE/ftclient_installer_20220627_183.107.9.230_not_traversed.zip
00.RELEASE/ftclient_installer_20220627_183.107.9.230_traversed.zip
00.RELEASE/20220623.txt
00.RELEASE/configuration_20220705_150.19.24.208_not_traversed.json
00.RELEASE/configuration_20220705_150.19.24.208_traversed.json
00.RELEASE/configuration_20220705_183.107.9.230_not_traversed.json
00.RELEASE/configuration_20220705_183.107.9.230_traversed.json
00.RELEASE/ftclient_installer_20220705_150.19.24.208_not_traversed.zip
00.RELEASE/ftclient_installer_20220705_150.19.24.208_traversed.zip
00.RELEASE/ftclient_installer_20220705_183.107.9.230_not_traversed.zip
00.RELEASE/ftclient_installer_20220705_183.107.9.230_traversed.zip
00.RELEASE/log.txt
client/watchdog/utils/__pycache__/process_watcher.cpython-310.pyc
client/watchdog/utils/__pycache__/echo.cpython-310.pyc
client/watchdog/tricks/__pycache__/__init__.cpython-310.pyc
client/watchdog/__pycache__/watchmedo.cpython-310.pyc
client/watchdog/__pycache__/version.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__
client/build
client/watchdog/__pycache__
client/watchdog/observers/__pycache__
client/watchdog/tricks/__pycache__
client/watchdog/utils/__pycache__
client/log.txt
client/file_version.txt
00.RELEASE/configuration_*.json
00.RELEASE/ftclient_installer*.zip
