
client/__pycache__/lib.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/build/main/Analysis-00.toc
client/build/main/base_library.zip
client/build/main/EXE-00.toc
client/build/main/main.exe.manifest
client/build/main/main.pkg
client/build/main/PKG-00.toc
client/build/main/PYZ-00.pyz
client/build/main/PYZ-00.toc
client/build/main/Tree-00.toc
client/build/main/Tree-01.toc
client/build/main/Tree-02.toc
client/build/main/warn-main.txt
client/build/main/xref-main.html
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/dist/main.exe
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
client/build/ftclient/xref-ftclient.html
client/dist/ftclient.exe
client/__pycache__/main.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
installer/ftservice/ftclient.exe
installer/ftservice/Debug/ftservice.msi
installer/ftservice/Debug/setup.exe
installer/ftservice/Release/ftservice.msi
installer/ftservice/Release/setup.exe
client/__pycache__/a.cpython-310.pyc
client/__pycache__/lib_BaseWinservice.cpython-310.pyc
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/lib_runas.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
client/build/ftclient/xref-ftclient.html
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/lib_winservice.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/base_library.zip
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
client/build/ftclient/xref-ftclient.html
installer/ftservice/ftclient.exe
installer/ftservice/Release/ftservice.msi
installer/ftservice/Release/setup.exe
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/base_library.zip
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
client/build/ftclient/xref-ftclient.html
client/dist/ftclient.exe
installer/ftservice/Debug/setup.exe
installer/ftservice/Debug/ftservice.msi
installer/ftservice/ftclient.exe
installer/ftservice/Release/ftservice.msi
client/__pycache__/lib_dscsdll.cpython-310.pyc
client/__pycache__/lib_logging.cpython-310.pyc
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
client/build/ftclient/xref-ftclient.html
client/dist/ftclient.exe
client/dist/ftclient.exe
client/build/ftclient/EXE-00.toc
client/logtest/20220221.txt
installer/ftservice/Release/ftservice.msi
process_protection/KMDFHelloWorld/Debug/Driver.obj
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.cer
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.inf
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.log
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.pdb
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.sys
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.sys.recipe
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/CL.command.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/CL.read.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/CL.write.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/Inf2Cat.command.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/inf2cat.read.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/inf2cat.write.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/KMDFHelloWorld.lastbuildstate
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/link.command.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/link.read.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/link.write.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/signtool.command.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/signtool.read.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/signtool.timestamp.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/signtool.write.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/stampinf.command.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/stampinf.read.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.tlog/stampinf.write.1.tlog
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld.vcxproj.FileListAbsolute.txt
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld/kmdfhelloworld.cat
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld/KMDFHelloWorld.inf
process_protection/KMDFHelloWorld/Debug/KMDFHelloWorld/KMDFHelloWorld.sys
process_protection/KMDFHelloWorld/Debug/vc142.pdb
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.Build.CppClean.log
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.cer
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.inf
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.log
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.pdb
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.sys
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.sys.recipe
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/CL.command.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/Inf2Cat.command.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/KMDFHelloWorld.lastbuildstate
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/link.command.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/link.read.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/link.write.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/signtool.command.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/signtool.read.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/signtool.timestamp.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/signtool.write.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/stampinf.command.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/stampinf.read.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/stampinf.write.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/unsuccessfulbuild
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.vcxproj.FileListAbsolute.txt
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld/kmdfhelloworld.cat
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld/KMDFHelloWorld.inf
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld/KMDFHelloWorld.sys
process_protection/KMDFHelloWorld/x64/Debug/vc142.pdb
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/ipch/AutoPCH/9e7ed9b4d0028d8b/DRIVER.ipch
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/ipch/AutoPCH/ff609b1a9aab1700/DRIVER.ipch
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/Browse.VC.db
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/Browse.VC.db-shm
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/Browse.VC.db-wal
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/Browse.VC.opendb
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/ipch/AutoPCH/f7887159e29d7b27/DRIVER.ipch
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/inf2cat.write.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/inf2cat.read.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/CL.write.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/CL.read.1.tlog
process_protection/KMDFHelloWorld/x64/Debug/Driver.obj
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/.suo
process_protection/KMDFHelloWorld/.vs/KMDFHelloWorld/v16/ipch/AutoPCH/d738f080321f0250/NTIFS.ipch
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/inf2cat.read.9.tlog
process_protection/KMDFHelloWorld/x64/Debug/KMDFHelloWorld.tlog/inf2cat.write.9.tlog
process_protection/KMDFHelloWorld/x64/Debug/inf2catOutput.log
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/base_library.zip
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
client/dist/ftclient.exe
installer/.vs/ftservice/v16/Browse.VC.db
installer/.vs/ftservice/v16/Browse.VC.db-shm
installer/.vs/ftservice/v16/Browse.VC.db-wal
installer/.vs/ftservice/v16/Browse.VC.opendb
installer/.vs/ftservice/v16/ipch/5a0c3f1c0d818b8e.ipch
installer/.vs/ftservice/v16/Solution.VC.db
installer/.vs/ftservice/v16/Solution.VC.db-shm
installer/.vs/ftservice/v16/Solution.VC.db-wal
installer/Debug/InstallerHelper.dll
installer/Debug/InstallerHelper.exp
installer/Debug/InstallerHelper.lib
installer/Debug/InstallerHelper.pdb
installer/ftservice/ftclient.exe
installer/ftservice/x64.exe
installer/ftservice/ftclient.exe
installer/InstallerHelper/Debug/dllmain.obj
installer/InstallerHelper/Debug/InstallerHelper.Build.CppClean.log
installer/InstallerHelper/Debug/InstallerHelper.dll.recipe
installer/InstallerHelper/Debug/InstallerHelper.ilk
installer/InstallerHelper/Debug/InstallerHelper.log
installer/InstallerHelper/Debug/InstallerHelper.obj
installer/InstallerHelper/Debug/InstallerHelper.pch
installer/InstallerHelper/Debug/InstallerHelper.tlog/CL.command.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/CL.read.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/CL.write.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/InstallerHelper.lastbuildstate
installer/InstallerHelper/Debug/InstallerHelper.tlog/InstallerHelper.write.1u.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/link.command.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/link.read.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.tlog/link.write.1.tlog
installer/InstallerHelper/Debug/InstallerHelper.vcxproj.FileListAbsolute.txt
installer/InstallerHelper/Debug/pch.obj
installer/InstallerHelper/Debug/vc142.idb
installer/InstallerHelper/Debug/vc142.pdb
client/__pycache__/main.cpython-310.pyc
client/build/ftclient/Analysis-00.toc
client/build/ftclient/base_library.zip
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/PYZ-00.toc
client/build/ftclient/warn-ftclient.txt
.vs/VSWorkspaceState.json
client/build/ftclient/Analysis-00.toc
client/build/ftclient/base_library.zip
client/build/ftclient/EXE-00.toc
client/build/ftclient/ftclient.pkg
client/build/ftclient/PKG-00.toc
client/build/ftclient/PYZ-00.toc
client/build/ftclient/PYZ-00.pyz
client/build/ftclient/warn-ftclient.txt
installer/.vs/ftservice/v16/.suo
installer/.vs/ftservice/v16/ipch/AutoPCH/666944ff5bdf7e9d/FRAMEWORK.ipch
installer/.vs/ftservice/v16/ipch/AutoPCH/f4c8c570ca8768e5/DLLMAIN.ipch
installer/.vs/ftservice/v16/ipch/ed5f9b792d71563e.ipch
installer/ftservice/InstallerHelper.dll
installer/ftservice/Release/ftservice.msi
installer/InstallerHelper/dir.txt
installer/ftservice/Release/ftservice.msi
installer/InstallerHelper/Release/dllmain.obj
installer/InstallerHelper/Release/InstallerHelper.Build.CppClean.log
installer/InstallerHelper/Release/InstallerHelper.dll.recipe
installer/InstallerHelper/Release/InstallerHelper.iobj
installer/InstallerHelper/Release/InstallerHelper.ipdb
installer/InstallerHelper/Release/InstallerHelper.log
installer/InstallerHelper/Release/InstallerHelper.obj
installer/InstallerHelper/Release/InstallerHelper.pch
installer/InstallerHelper/Release/InstallerHelper.tlog/CL.command.1.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/CL.read.1.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/CL.write.1.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/InstallerHelper.lastbuildstate
installer/InstallerHelper/Release/InstallerHelper.tlog/InstallerHelper.write.1u.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/link.command.1.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/link.read.1.tlog
installer/InstallerHelper/Release/InstallerHelper.tlog/link.write.1.tlog
installer/InstallerHelper/Release/InstallerHelper.vcxproj.FileListAbsolute.txt
installer/InstallerHelper/Release/pch.obj
installer/InstallerHelper/Release/vc142.pdb
installer/Release/InstallerHelper.pdb
installer/Release/InstallerHelper.lib
installer/Release/InstallerHelper.exp
installer/Release/InstallerHelper.dll
installer/ftservice/Release/ftservice.msi
client/build/ftclient/ftclient.exe.manifest
client/build/ftclient/Tree-00.toc
client/build/ftclient/Tree-01.toc
client/build/ftclient/Tree-02.toc
installer/InstallerHelper/x64/Debug/dllmain.obj
installer/InstallerHelper/x64/Debug/InstallerHelper.dll.recipe
installer/InstallerHelper/x64/Debug/InstallerHelper.ilk
installer/InstallerHelper/x64/Debug/InstallerHelper.log
installer/InstallerHelper/x64/Debug/InstallerHelper.obj
installer/InstallerHelper/x64/Debug/InstallerHelper.pch
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/CL.command.1.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/CL.read.1.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/CL.write.1.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/InstallerHelper.lastbuildstate
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/InstallerHelper.write.1u.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/link.command.1.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/link.read.1.tlog
installer/InstallerHelper/x64/Debug/InstallerHelper.tlog/link.write.1.tlog
installer/InstallerHelper/x64/Debug/pch.obj
installer/InstallerHelper/x64/Debug/vc142.idb
installer/InstallerHelper/x64/Debug/vc142.pdb
installer/x64/Debug/InstallerHelper.dll
installer/x64/Debug/InstallerHelper.exp
installer/x64/Debug/InstallerHelper.lib
installer/x64/Debug/InstallerHelper.pdb
installer/.vs/ftservice/v17/Solution.VC.db-wal
installer/.vs/ftservice/v17/Solution.VC.db-shm
installer/.vs/ftservice/v17/Solution.VC.db
installer/.vs/ftservice/v17/Browse.VC.opendb
installer/.vs/ftservice/v17/Browse.VC.db-wal
installer/.vs/ftservice/v17/Browse.VC.db-shm
installer/.vs/ftservice/v17/Browse.VC.db
client/__pycache__/main.cpython-39.pyc
client/watchdog/__pycache__/__init__.cpython-39.pyc
client/watchdog/__pycache__/events.cpython-39.pyc
client/watchdog/__pycache__/version.cpython-39.pyc
client/watchdog/__pycache__/watchmedo.cpython-39.pyc
*.pyc
installer/.vs/ftservice/v16/ipch/1779937c084a8b8d.ipch
installer/.vs/ftservice/v16/ipch/ab4417a270e74df2.ipch
client/build/installer/xref-installer.html
client/build/installer/warn-installer.txt
client/build/installer/PYZ-00.toc
client/build/installer/PYZ-00.pyz
client/build/installer/PKG-00.toc
client/build/installer/installer.pkg
client/build/installer/installer.exe.manifest
client/build/installer/EXE-00.toc
client/build/installer/base_library.zip
client/build/installer/Analysis-00.toc
SilentInstaller/.vs/SilentInstaller/v16/.suo
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db-shm
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.db-wal
SilentInstaller/.vs/SilentInstaller/v16/Browse.VC.opendb
SilentInstaller/.vs/SilentInstaller/v16/ipch/AutoPCH/1855e254a6b7f7aa/SILENTINSTALLER.ipch
SilentInstaller/.vs/SilentInstaller/v16/ipch/AutoPCH/d34b1cfd6d476966/SILENTINSTALLER.ipch
SilentInstaller/.vs/SilentInstaller/v16/ipch/AutoPCH/db04ddcab5d2a5f4/SILENTINSTALLER.ipch
SilentInstaller/Debug/SilentInstaller.Build.CppClean.log
SilentInstaller/Debug/SilentInstaller.exe
SilentInstaller/Debug/SilentInstaller.exe.recipe
SilentInstaller/Debug/SilentInstaller.ilk
SilentInstaller/Debug/SilentInstaller.log
SilentInstaller/Debug/SilentInstaller.obj
SilentInstaller/Debug/SilentInstaller.pdb
SilentInstaller/Debug/SilentInstaller.res
SilentInstaller/Debug/SilentInstaller.tlog/CL.command.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/CL.read.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/CL.write.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/link.command.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/link.read.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/link.write.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/rc.command.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/rc.read.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/rc.write.1.tlog
SilentInstaller/Debug/SilentInstaller.tlog/SilentInstaller.lastbuildstate
SilentInstaller/Debug/SilentInstaller.vcxproj.FileListAbsolute.txt
SilentInstaller/Debug/SilentInstaller.vcxproj.FileListAbsolute_decrypted.txt
SilentInstaller/Debug/vc142.idb
SilentInstaller/Debug/vc142.pdb
SilentInstaller/Release/ftclient.exe
SilentInstaller/Release/installer.Build.CppClean.log
SilentInstaller/Release/installer.exe
SilentInstaller/Release/installer.exe.exe.recipe
SilentInstaller/Release/installer.exe.recipe
SilentInstaller/Release/installer.iobj
SilentInstaller/Release/installer.ipdb
SilentInstaller/Release/installer.pdb
SilentInstaller/Release/SilentInstaller.exe
SilentInstaller/Release/SilentInstaller.exe.recipe
SilentInstaller/Release/SilentInstaller.log
SilentInstaller/Release/SilentInstaller.obj
SilentInstaller/Release/SilentInstaller.res
SilentInstaller/Release/SilentInstaller.tlog/CL.command.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/CL.read.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/CL.write.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/link.command.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/link.read.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/link.write.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/rc.command.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/rc.read.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/rc.write.1.tlog
SilentInstaller/Release/SilentInstaller.tlog/SilentInstaller.lastbuildstate
SilentInstaller/Release/SilentInstaller.tlog/SilentInstaller.write.1u.tlog
SilentInstaller/Release/SilentInstaller.vcxproj.FileListAbsolute.txt
SilentInstaller/Release/SilentInstaller.vcxproj.FileListAbsolute_decrypted.txt
SilentInstaller/Release/vc142.pdb
SilentInstaller/Release/SilentInstaller.pdb
SilentInstaller/Release/SilentInstaller.ipdb
SilentInstaller/Release/SilentInstaller.iobj
SilentInstaller/Release/SilentInstaller.Build.CppClean.log
